{% extends 'layout/default.html.twig' %}

{% block header %}
	<header class="masthead" style="background-image: url('../assets/img/contact-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>Registrer</h1>
						<span class="subheading"></span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}


{% block content %}
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<p>Entrer les informations necessaires à votre identification</p>

				{{ form_start(registrationForm) }}
				<br>
				{{ form_row(registrationForm.username, {
            label: 'Username'}) }}
			<br>
				{{ form_row(registrationForm.email) }}
				<br>
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'}) }}
				<br>
				{{ form_row(registrationForm.agreeTerms) }}
				<br>
				<button type="submit" class="btn btn-dark btn-sm">Register</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
